
/** Hi 
-- FeeeshMeister
*/
#nav {
    font-family: sans-serif;
    text-align: center;
}

body{
    padding: 0px;
    margin: 0px;
    background-color: #ffffff;
}
#div1{
    width: 100%;
    height: 650px;
    
}
#div2 {
    opacity: 0.9;
    background: black;
    height: 80px;
    width: 100%;
    line-height: 80px;
    
}
#div2 img {
    float: left;
    margin-top: 7px;
    cursor: pointer;
    margin-left: 15px;
}
#linknav {
    padding: 30px;
    text-decoration: none;
    color: white; 
}
#linknav:hover {
    background: #404040;
    transition: all 0.40s;
    
}
#dropdown {
    position: relative;
    display: inline-block;
    text-decoration: none;
}

#dropdown-content {
    display: none;
    position: absolute;
    background-color: #404040;
    min-width: 80px;
    padding: 12px 16px;
    z-index: 1;
    text-decoration: none;
    color: white;
    
}
#dropdown:hover #dropdown-content {
    display: block;
    
}

#drop {
    text-decoration: none;
    color: white;
    padding: 20px;
    transition: 0.25s;
    
}
#drop:hover {
    padding: 22px;
    background-color: #595959;
}
#dropdown:hover #linknav {
    background-color: #404040;
    
}
#homeimage {
    width: 100%;
    height: auto;
    max-height: 100%;
    margin-top: -102;
}
#transpbox {
    margin: auto;
    background-color: #ffffff;
    opacity: 0.6;
    margin-bottom: -296;
    
}

#transpbox h1 {
    text-align: center;
    font-weight: bold;
    color: #000000;
    
}
#hbackgroundimage {
    margin-top: 260;
}
    
#Welcometext h1 {
    color: white;
    font-family: Ubuntu, sans-serif;
    text-align: center;
    margin-top: -95px;
}
#nsysbody {

    /**background-color: #EDEAE5;*/
}
#i1 {
    width: 32px;
    height: 32px;
    opacity: 1;
    border: 5px solid white;
    border-left: 5px solid white;
    border-bottom: 5px solid white;
    margin-left: 20px;
    margin-top: -40px;
    background-color: white;
}

